{% extends 'layout.html' %}
{%block content%}
<div class="container">

</form>

    <form id="form" method="post" action="{{url_for('add')}}" novalidate>
        {{form.csrf_token}}
        <label class="form-label">{{form.name.label}}: </label>
        <span>{{form.name}}</span><br>
        {%if form.name.errors%}
            {%for error in form.name.errors%}
            <div class="alert alert-danger alert-sm" id="alert">
            <span>{{error}}</span></div>
            {%endfor%}
        {%endif%}
        <span>{{form.contacts.label}}: </span>
        <span>{{form.contacts}}</span> <br>
        {%if form.contacts.errors%}
            {%for error in form.contacts.errors%}
            <div class="alert alert-danger" id="alert">
            <span>{{error}}</span>
            </div>
            {%endfor%}
        {%endif%}
        <button type="submit" type="button" class="btn btn-block btn-dark">Save</button>
    </form>
</div>
{%endblock%}